.bkg-image {
	img {
		opacity: 0.6;
		position: absolute;
		width: 100%;
	}
}
.register {
	p {
		font-size: 18px;
	}
	.form-bkg {
		background-color: #fff;
		padding: 50px 35px;
		h2 {
			text-align: center;
		}
	}
	.row {
		margin-top: 40px;
	}
	.form-control {
		height: 50px;
		margin-bottom: 10px;
		@include border-radius(0);
		&:focus {
			border-color: #ccc;
			box-shadow: none;
		}
	}
	.btn {
		@include border-radius(0);
	}
}